
/*БЛОК contacts -------------------------------------------------*/


.head_cont h2 {
	    margin: 0;
    margin-top: 30px;
    margin-bottom: 14px;
    border-bottom: solid 2px #FEBD01;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}
/* Ограничиваем контейнер по ширине 1000px */
.container_contacts {
  width: 90%;
  max-width: 1000px;
  padding: 0 20px;
	display: flex;
		margin-right: auto;
	margin-left: auto;
}

/* Стили самой формы */
.content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  /*justify-content: space-between; /* колонки растянутся на всю ширину */
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

#googleMap {
	margin: 5px;
	height: 80px;
	width: 200px;
	float: left;
}

/* Стили левой колонки */
.left-side {
  width: 35%; /* занимает 25% общей ширины */
  height: 100%; /* растягиваем на всю высоту */
  position: relative; /* позиционирование относительное (для ::before) */
  display: flex;
  flex-direction: column; /* внутри элементы располагаем в колонку */
}

/* Стили разделительной линии между левой и правой колонкой */
.left-side::before {
  content: ""; /* контент нам не нужен */
  position: absolute; /* позиционируем относительно .left-side */
  height: 70%; /* высота 70% от .left-side */
  width: 2px; /* ширина 2px */
  background: #afafb6;
  right: -15px; /* позиционируем справа + отступ 15px (справа) */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
}

/* Стили правой колонки */
.right-side {
    width: 65%;
    margin-left: 75px;
    margin-right: 10px;
}

/* Элементы левой колонки: адрес, телефон, email */
.details {
  margin-bottom: 150px;
  text-align: center;
}

/* Общие стили для иконок */
.details i {
  font-size: 25px; /* задаем размер */
  color: #3e2093; /* задаем цвет */
  margin-bottom: 10px;
}

/* Стили для заголовков левой колонки */
.topic {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px; /* отступ снизу 7px */
}

/* Стили для текста левой колонки */
.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
}

/* Заголовок правой колонки */
.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-bottom: 10px;
}
.right-side_message {
	text-align: center;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 10px;
}

/* Контейнер для input'ов формы */
.input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.button {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.button input[type="button"] {
  color: #fff;
  font-size: 18px;
  background: #3e2093;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}

/* Меняем цвет фона при наведении на кнопку */
.button input[type="button"]:hover {
  background: rgb(0, 0, 207);
}

/*.futer {
    position: sticky !important;
}

.futer .follow {
	margin: 0 auto;
}

.futer .follow ul {
	display: flex;
	justify-content: space-evenly;
}*/

/*---RESPONSIVE STYLES---*/

@media screen and (max-width: 1280px) {
	.container {
			width: 90%;
	}

/*	.portfolio-block {
			grid-gap: 12px;
	}

	.portfolio-item img {
			width: 302px;
			height: 306px;
	}*/
}

@media screen and (max-width: 1024px) {
	.container h2 {
			font-size: 28px;
			margin-top: 20px;
			margin-bottom: 10px;
	}

	.container p {
			font-size: 16px;
			margin-bottom: 18px;
	}

/*	.portfolio-block {
			grid-template-columns: auto auto;
			justify-content: center;
	}

	.portfolio-item img {
			width: 340px;
	}*/
}

@media screen and (max-width: 950px) {
/*	header .conteiner .menu {
			width: 60%;
	}*/


}

@media screen and (max-width: 768px) {

	.container h2 {
			font-size: 22px;
			margin-top: 16px;
	}

	.container p {
			font-size: 15px;
	}
.content {
	    flex-direction: column;
}

.left-side {
    width: 90%;
    height: 50%;
}

.right-side {
	margin-top: 20px;
    width: 90%;
    height: 50%;
}
.left-side::before {
	display: none;
}

.input-box input, .input-box textarea {    
    width: 90%;
}

.input-box input, .input-box textarea {
    height: 90%;
 }
.button {
	padding: 20px;
}



}

@media screen and (max-width: 480px) {
	.container h2 {
			font-size: 20px;
			margin-top: 12px;
			margin-bottom: 8px;
	}

	.container p {
			font-size: 14px;
			margin-bottom: 12px;
	}


}